
<ion-view view-title="Browse">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>-->
  <ion-content>
    <div class="list content-bottom-scroll">
      <div class="bottom-form">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Task Name</span>
          <input type="text" placeholder="Describe your task eg. buy groceries">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label" style="margin-bottom: 8px;">Location</span>


          <div on-tap="openModal()">
            <a class="button button-icon icon ion-plus-round">&nbsp;</a>
            <span class="input-label">Add your location</span>
          </div>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Inform me when :
          </div>
          <select>
            <option>Entering</option>
            <option selected>Leaving</option>
          </select>
        </label>
      </div>
    </div>

  </ion-content>
      <div>
        <button class="button button-full button-positive button-bottom-scroll">
          Create Task
        </button>
      </div>
</ion-view>
