<ion-view view-title="Browse">
  <ion-content>
    <div class="list content-bottom-scroll">
      <div class="bottom-form">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Task Name</span>
          <input type="text" placeholder="Describe your task eg. buy groceries">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label" style="margin-bottom: 8px;">Location</span>

          <ion-list>
            <ion-item style='margin-right:16px' ng-repeat="item in [0,1,2]">
              Hello, {{item}}!<br>
              Blk 333 Sembawang Close
            </ion-item>
          </ion-list>
          <div on-tap="redirect()">
            <a class="button button-icon icon ion-plus-round" ></a> 
            <span class="input-label">Select different location</span>
          </div>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Inform me when :
          </div>
          <select>
            <option>Entering</option>
            <option selected>Leaving</option>
          </select>
        </label>
      </div>
    </div>

  </ion-content>
      <div>
        <button class="button button-full button-positive button-bottom-scroll">
          Create Task
        </button>
      </div>
</ion-view>
