<ion-view view-title="Browse">
  <ion-content>
    <div class="list content-bottom-scroll">
      <div class="bottom-form">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Task Name</span>
          <input type="text" placeholder="Describe your task eg. buy groceries">
        </label>

        <label class="item item-input item-stacked-label input-map">
          <span class="input-label">Location</span><br>
          <div class="item-input-inset">
            <label class="item-input-wrapper">
              <input class='inline-input' type="text" placeholder="Enter an address to search">
            </label>
            <button class="button button-small">
              <i class="ion-search"></i>
            </button>
          </div>
          <!--Location here-->
          <div class="map" map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map center="41,-87" zoom="3" disable-default-u-i="true"></ng-map>
          </div>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Inform me when :
          </div>
          <select>
            <option>Entering</option>
            <option selected>Leaving</option>
          </select>
        </label>
      </div>
    </div>

  </ion-content>
      <div>
        <button class="button button-full button-positive button-bottom-scroll">
          Create Task
        </button>
      </div>
</ion-view>
